:root {
  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}
:root {
  --colorTextPriary: #141414;
  --colorTextLink: #ffffff;
  --colorBotton: #26c6ea;
  --colorTextQuotes: #0a3853;
  --colorHover: #94cfff;
  --colorName: #000000;
  --colorTextButton: #0b0e66;
  --colorTextBorderButton: #26c7ea;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
/* ============header======== */
.container {
  max-width: 1060px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-image: linear-gradient(
      to right bottom,
      hsla(206, 39%, 27%, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url(../images/background/background-header.jpg);
  padding: 54px 0 54px 0;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header-logo {
  align-items: center;
  padding-left: 200px;
}
.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 38px;
}
.action-link {
  font-size: 20px;
  font-family: var(--second-family);
  background-color: var(--colorTextButton);
  border: var(--colorTextBorderButton) solid 2px;
  padding: 10px 40px;
  border-radius: 35px 0px 35px 0px;
  color: var(--colorBotton);
}
.header-input {
  appearance: none;
  width: 35px;
  height: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  transition: 0.5s;
}
.header-input::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.header-input:checked {
  justify-content: flex-end;
}
.header-input:checked::after {
  background-color: rgb(255, 255, 255);
}
.header-action {
  display: flex;
  gap: 50px;
}
.header-switcher {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 65px;
}
.header-switcher {
  font-family: var(--third-family);
  transition: 0.5s;
}
.switcher-text {
  color: var(--colorTextLink);
}
.nav-link:hover {
  transform: scale(1.02);
  transition: 0.5s;
  font-weight: 600;
  color: var(--colorHover);
}
.nav-link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  color: var(--colorTextLink);
}
.action-link {
  font-family: var(--second-family);
  font-weight: 400;
  text-align: justify;
  color: var(--colorHover);
}
/* ===========main========= */
.main {
  padding-top: 5px;
}
.hero {
  background-image: url(../images/background/photo-jake.png);
  background-size: cover;
}
.container-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--colorTextLink);
}
.hero-content {
  max-width: 376px;
  margin-top: 180px;
  margin-bottom: 180px;
}
.hero-btn {
  padding: 10px 30px;
  width: 260px;
  border-radius: 35px 0px 35px 0px;
  background-color: var(--colorTextButton);
  font-family: var(--second-family);
  color: var(--colorBotton);
  border: var(--colorTextBorderButton) solid 2px;
}

.social-list {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.social-item {
  align-items: center;
}
.hero-text:first-child::after {
  content: "";
  display: block;
  background-image: url(../images/decoration/arrow-left-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 4px;
  margin-bottom: 2px;
  height: 40px;
}
.hero-text:nth-child(2) {
  font-family: var(--font-family);
  margin-bottom: 36px;
}

.hero-link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--colorHover);
}

.trailer {
  text-align: center;
  display: flex;
  padding-bottom: 330px;
  padding-top: 330px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/background/title.jpg);
}
.quotes-link {
  font-size: 20px;
  font-family: var(--second-family);
  background-color: var(--colorTextButton);
  border: var(--colorTextBorderButton) solid 2px;
  padding: 20px 25px;
  border-radius: 35px 0px 35px 0px;

  color: var(--colorBotton);
}
.quotes-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: var(--colorTextQuotes);
  padding-top: 80px;
  padding-bottom: 30px;
}
.quotes-text {
  font-family: var(--font-family);
  color: var(--colorName);
  font-weight: 400;
  text-align: center;
  color: var(--colorName);
}
.quotes-text::after {
  content: "";
  height: 120px;
  display: block;
  background-image: url(../images/decoration/arrows.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.quotes-text {
  font-size: 24px;
  line-height: 1.15;
  color: var(--colorName);
  padding-bottom: 10px;
}
.quotes-texts {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--colorTextPriary);
}
.quotes-titles {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: justify;
  color: var(--colorName);
}
.navi {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.34),
      rgba(255, 255, 255, 0.34)
    ),
    url(../images/background/background-navi.jpg);
  background-repeat: no-repeat;
  padding-bottom: 60px;
  background-size: cover;
}
.navi-title {
  font-family: var(--second-family);
  text-align: center;
  padding-bottom: 45px;
  padding-top: 60px;
  font-size: 32px;
}
.navi-list {
  display: flex;
  column-gap: 35px;
  row-gap: 25px;
  flex-basis: calc((100% - 72px) / 3);
  display: flex;
  flex-wrap: wrap;
}
.navi-item {
  text-align: center;
}
.navi-item:nth-child(1) {
  background-image: url(../images/decoration/arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.navi-item:nth-child(2) {
  background-image: url(../images/decoration/arrows.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.navi-item:nth-child(3) {
  background-image: url(../images/decoration/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.navi-item:nth-child(4) {
  background-image: url(../images/decoration/arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.navi-item:nth-child(5) {
  background-image: url(../images/decoration/arrows.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.navi-item:nth-child(6) {
  background-image: url(../images/decoration/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.navi-section {
  max-width: 320px;
}
.navi-section {
  font-family: var(--second-family);
  padding-top: 40px;
  padding-bottom: 36px;
  width: 320px;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.7);
}
.navi-texts {
  margin-bottom: 120px;
}
/* ===========footer========= */

.footer {
  background-image: linear-gradient(
      to right bottom,
      hsla(206, 39%, 27%, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url(../images/background/background-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 25px;
}
.container-footer {
  display: flex;
  text-align: center;
  gap: 80px;
}
.footer-content {
  flex-grow: 1;
}
.footer-support {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.footer-information,
.email-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-info {
  display: flex;
  gap: 80px;
}
.footer-info::after {
  content: "";
  width: 2px;
  height: 153px;
  background-color: var(--colorTextLink);
}
.email-text {
  font-family: var(--font-family-);
  font-weight: 400;
  font-size: 20px;
  white-space: nowrap;
  color: var(--colorTextLink);
}
.email {
  position: relative;
  font-family: var(--font-family);
  font-size: 20px;
  white-space: nowrap;
  color: var(--colorTextLink);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    border-bottom: 2px dashed rgba(255, 255, 255, 0.6);
  }
}
.email-info .email:nth-child(1)::before {
  width: 269px;
  left: -269px;
}

.email-info .email:nth-child(2)::before {
  width: 212px;
  left: -229px;
}
.footer-text {
  font-family: var(--font-family);
  font-size: 14px;
  white-space: nowrap;
  color: #fff;
  text-align: center;
}
