:root {
  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}
:root {
  --colorTextPriary: #141414;
  --colorTextLink: #ffffff;
  --colorBotton: #26c6ea;
  --colorTextQuotes: #0a3853;
  --colorHover: #94cfff;
  --colorName: #000000;
  --colorTextButton: #0b0e66;
  --colorTextBorderButton: #26c7ea;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
/* ============header======== */
.container {
  max-width: 1060px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-image: linear-gradient(
      to right bottom,
      hsla(206, 39%, 27%, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url(../images/background-header.jpg);
  padding-top: 40px;
  border-bottom: solid 3px var(--);
  display: flex;
  background-size: cover;
  justify-content: space-between;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.header-logo {
  width: 250px;
  height: 150px;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 38px;
}
.action-link {
  font-size: 20px;
  font-family: var(--second-family);
  background-color: var(--colorTextButton);
  border: var(--colorTextBorderButton) solid 2px;
  padding: 10px 40px;
  border-radius: 35px 0px 35px 0px;
  color: var(--colorBotton);
}
.header-input {
  appearance: none;
  width: 35px;
  height: 20px;
  border: 2px solid rgb(36, 9, 158);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
}
.header-input::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}
.header-input:checked {
  justify-content: flex-end;
}
.header-input:checked::after {
  background-color: rgb(0, 0, 0);
}
.header-switcher {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-switcher {
  font-family: var(--third-family);
}
.nav-link:hover {
  font-weight: 600;
  color: var(--colorHover);
}
.nav-link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  color: var(--colorTextLink);
}
.action-link {
  font-family: var(--second-family);
  font-weight: 400;
  text-align: justify;
  color: var(--colorHover);
}
/* ===========main========= */
.hero {
  height: 1040px;
  background-image: url(../images/photo-jake.png);
  background-size: cover;
  display: flex;
}
.container-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  max-width: 376px;
}
.hero-link {
  font-size: 20px;
  font-family: var(--second-family);
  background-color: var(--colorTextButton);
  border: var(--colorTextBorderButton) solid 2px;
  padding: 10px 40px;
  border-radius: 35px 0px 35px 0px;
  color: var(--colorBotton);
}
.social-list {
  display: flex;
  gap: 25px;
  flex-direction: column;
  max-width: 50px;
  max-height: 141px;
}
.social-item {
  align-items: center;
}
.hero-text {
  font-family: var(--font-family);
  padding-top: 25px;
  padding-bottom: 50px;
}
.hero-link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--colorHover);
}
.quotes-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: var(--colorTextQuotes);
}
.quotes-text {
  font-family: var(--font-family);
  color: var(--colorName);
  font-weight: 400;
  text-align: center;
  color: var(--colorName);
}
.quotes-texts {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--colorTextPriary);
}
.quotes-titles {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: justify;
  color: var(--colorName);
}
/* ===========footer========= */
.email-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  color: var(--colorTextLink);
}
.email {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  color: var(--colorTextLink);
}
